/* CSS for Homepage */




/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* light gray background */
}
/***********************************




/* Header styling */
header {
    background-color: #023047; /* nice blue color for the header */
    padding: 20px;
    text-align: center;
    color: white; /* white text color for contrast */
}
/***********************************




/* Top menu styling */
.top-menu {
    list-style-type: none;
    padding: 0;
    text-align: right;
}
.top-menu li {
    display: inline;
    margin-right: 20px;
}
.top-menu li a {
    text-decoration: none;
    color: #e7e7e7;
}
/***********************************





/* Track package section styling */
.track-package {
    text-align: center;
    margin-top: 30px;
}
/***********************************/







/* footer Button layout bacground */
.footerbuttons {
    display: flex;
    justify-content: space-between;
    background-color: #373737; /* red background for the button container */
    padding: 20px;
    margin-top: 30px; 
   
    
    
}
/* footer Button layout */
.left-buttons button {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
    
    
}

/* 1 left */
.center-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 2 left */
.right-buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
/* 3 left */


/* setting all together of the 3 button */
.left-buttons button, .center-buttons button, .right-buttons button {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #373737; /* orange background for the buttons */
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: none;
    
    
}

.footerbuttons button:hover {
    background: none;
    text-decoration: underline;
    border-bottom: 2px solid transparent;
    
}






/* Adjust button styles as needed */
button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/***********************************






/* Image layout */
.homepage-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.homepage-images img {
    margin: 10px;
    max-width: 50%;
    height: auto;
}
/***********************************/





h2 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}





