/* CSS for Homepage */




/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* light gray background */
    overflow-x: hidden;
}

.homepage-section {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 80vh;
	max-height: max-content;
	background-color: #E1FAFF;
	border-radius: 2rem;
	margin: 4rem 3rem 2rem 3rem;
}


/* Header styling */
.header {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	padding: 2rem 2rem 0 3rem;
}

.website-name {
	font-size: 1.5rem;
	font-weight: bold;
	color: #081B4B;
}

.website-homepage-link {
	color: #081B4B;
}

.website-homepage-link:link {
	text-decoration: none;
}

.website-homepage-link:visited {
	text-decoration: none;
}

.navbar {
	display: flex;
	width: min-content;
}

.navlist {
	display: flex;
	list-style: none;
	padding: 0.2rem 0 0 2rem;
}

.navlist-item {
	margin: 0 1rem 0 1rem;
}

.navlist-link {
	color: #081B4B;
	font-size: 1rem;
	font-weight: bold;
}

.navlist-link:link {
	text-decoration: none;
}

.navlist-link:visited {
	text-decoration: none;
}

.account-buttons {
	display: flex;
	position: absolute;
	top: 2.5rem;
	right: 9rem;
}

.sign-in-button {
	border: none;
	background-color: white;
	margin-right: 2rem;
}

.sign-in-link {
	color:#081B4B;
	font-size: 1rem;
	font-weight: bold;
}

.sign-in-link:link {
	text-decoration: none;
}

.sign-in-link:visited {
	text-decoration: none;
}

.sign-up-button {
	background-color: #081B4B;
	border-radius: 0.5rem;
	border: none;
	padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

.sign-up-link {
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.sign-up-link:link {
	text-decoration: none;
}

.sign-up-link:visited {
	text-decoration: none;
}

/* Track package section styling */
.track-package {
    text-align: center;
    margin-top: 30px;
}
/***********************************/







/* footer Button layout bacground */
.footerbuttons {
    display: flex;
    justify-content: space-between;
    background-color: #373737; /* red background for the button container */
    padding: 20px;
    margin-top: 30px; 
   
    
    
}
/* footer Button layout */
.left-buttons button {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
    
    
}

/* 1 left */
.center-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 2 left */
.right-buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
/* 3 left */


/* setting all together of the 3 button */
.left-buttons button, .center-buttons button, .right-buttons button {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #373737; /* orange background for the buttons */
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: none;
    
    
}

.footerbuttons button:hover {
    background: none;
    text-decoration: underline;
    border-bottom: 2px solid transparent;
    
}






/* Adjust button styles as needed */
button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/***********************************






/* Image layout */
.homepage-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.homepage-images img {
    margin: 10px;
    max-width: 50%;
    height: auto;
}
/***********************************/





h2 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}





