*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: #E1FAFF;
    height: 100vh;
    overflow: hidden;
  }
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 2rem 2rem 0 3rem;
  }
  
  .website-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #081B4B;
  }
  
  .website-homepage-link {
    color: #081B4B;
  }
  
  .website-homepage-link:link {
    text-decoration: none;
  }
  
  .website-homepage-link:visited {
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    width: min-content;
  }
  
  .navlist {
    display: flex;
    list-style: none;
    padding: 0.2rem 0 0 2rem;
  }
  
  .navlist-item {
    margin: 0 1rem 0 1rem;
  }
  
  .navlist-link {
    color: #081B4B;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .navlist-link:link {
    text-decoration: none;
  }
  
  .navlist-link:visited {
    text-decoration: none;
  }
  
  .account-buttons {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
  
  .sign-in-button {
    border: none;
    background-color: white;
    margin-right: 2rem;
      padding: 0.75rem 1.5rem;
      border: 1.5px solid black;
      border-radius: 5px;
  }
  
  .sign-in-link {
    color:#081B4B;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .sign-in-link:link {
    text-decoration: none;
  }
  
  .sign-in-link:visited {
    text-decoration: none;
  }
  
  .sign-up-button {
    background-color: #081B4B;
    border-radius: 0.5rem;
    border: none;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
  
  .sign-up-link {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .sign-up-link:link {
    text-decoration: none;
  }
  
  .sign-up-link:visited {
    text-decoration: none;
  }
  
  .page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
	  height: 27rem;
    width: 25rem;
	  background-color: #fff;
    box-shadow: 0 2px 5px #c2c2c2;
    border-radius: 20px;
    margin: 5rem;
}
.title{
  text-align: center;
  font-weight: 650;
  margin-top: 10%;
}
label{
    display: block;
    margin: 2rem;
}
input[type="text"]{
    display: block;
    height: 2rem;
    width: 100%;
    border: 1px solid black;
    border-bottom-width: 2px;
}
#monthSelect, #report_type{
    width: 100%;
    min-height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    border-bottom-width: 2px;
}
form .button{
  height: 45px;
  margin: 35px 0
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .4s;
  background: #081B4B;
}
form .button input:hover{
  color: black;
  background: #E1FAFF;
  border: 2px solid #081B4B;
}