*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    padding: 10px;
    background-color: #E1FAFF;
  }
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 2rem 2rem 0 3rem;
  }
  
  .website-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #081B4B;
  }
  
  .website-homepage-link {
    color: #081B4B;
  }
  
  .website-homepage-link:link {
    text-decoration: none;
  }
  
  .website-homepage-link:visited {
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    width: min-content;
  }
  
  .navlist {
    display: flex;
    list-style: none;
    padding: 0.2rem 0 0 2rem;
  }
  
  .navlist-item {
    margin: 0 1rem;
  }
  
  .navlist-link {
    color: #081B4B;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .navlist-link:link {
    text-decoration: none;
  }
  
  .navlist-link:visited {
    text-decoration: none;
  }
  
  .account-buttons {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
  
  .sign-in-button {
    border: none;
    background-color: white;
    margin-right: 2rem;
      padding: 0.75rem 1.5rem;
      border: 1.5px solid black;
      border-radius: 5px;
  }
  
  .sign-in-link {
    color:#081B4B;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .sign-in-link:link {
    text-decoration: none;
  }
  
  .sign-in-link:visited {
    text-decoration: none;
  }
  
  .sign-up-button {
    background-color: #081B4B;
    border-radius: 0.5rem;
    border: none;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
  
  .sign-up-link {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .sign-up-link:link {
    text-decoration: none;
  }
  
  .sign-up-link:visited {
    text-decoration: none;
  }
  
  .page{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4% 0;
  }
  .container{
    max-width: 700px;
    margin-top: -1rem;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 3px 5px #c2c2c2;
  }
  .container .title{
    font-size: 25px;
    font-weight: 700;
    position: relative;
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid black;
    transition: all 0.3s ease;
    background: #f2f2f2;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #081B4B;
  }
  form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
  }
  form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
  }
  form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  form .button{
    height: 45px;
    margin: 35px 0
  }
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s;
    background: #081B4B;
  }
  form .button input:hover{
    color: black;
    background: #E1FAFF;
    border: 2px solid #081B4B;
  }
  .back_home{
    text-align: center;
    display: block;
    color: black;
    font-weight: 600;
    text-decoration: none;
  }
  .back_home a{
    text-decoration: none;
  }
  .back_home a:visited{
    text-decoration: none;
  }
  @media(max-width: 584px){
    .container{
    max-width: 100%;
    }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  