body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #222E50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.top-menu {
    display: flex;
    justify-content: center;
}

.top-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-menu ul li {
    margin: 0 10px;
}

.top-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.top-menu ul li a:hover {
    text-decoration: underline;
}

.track-package {
    text-align: center;
    margin: 20px 0;
}

.track-package input {
    padding: 8px;
    margin-right: 5px;
}

.track-package button {
    padding: 8px 15px;
    background-color: #222E50;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.homepage-images {
    text-align: center;
    margin: 20px 0;
}

.homepage-images h2 {
    margin-bottom: 10px;
}

.homepage-images img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}




.footer-buttons {
    background-color: #000000;
    color: #f30000;
    padding: 20px;
    text-align: center;
}

.footer-buttons .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-buttons button {
    padding: 8px 15px;
    color: #000000;
    border: none;
    margin: 5px;
    cursor: pointer;
}


